@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@100;200;400;500;600;800&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.6;
}
h1{
    font-size: 48px;
    font-weight: bold;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 40px 0 40px 0;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
#SerachInput{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color:#555;
    border-radius: 20%;
    width: 30%;
    height: 60px;
    padding: 0 20px;
    font-size: 15px;

}