@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@100;200;400;500;600;800&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.6;
}
h1{
    text-align: center;
    /* same margin formation */
    /* margin: 100px 0 50px 0; */
    margin: 100px auto 50px;
    font-weight: 600;
}
form{
    width: 90%;
    max-width: 600px;
    height: 80px;
    background: #434989;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    /* justify-content: center; */
}
form #searchBox{
    flex: 1;
    height: 100%; 
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    padding: 0 30px;
    font-size: 20px;

}
form #SearchButton{
    padding: 0 40px;
    height: 100%;
    background: red;
    color: #fff;
    font-size: 20px;
    outline: 0;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
    /* border-radius: 8px; */
}

::placeholder{
    color: #fff;
    font-size: 20px;
}
#showMoreBtn{
    background: red;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 10px auto 100px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#searchResults{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px; 
   

}
#searchResults img{
    width: 100%; 
    height: 250px; 
    border-radius: 5px;
    object-fit: cover;

}